body {
    font-family: ubuntu;
    font-size: 50px;
   background-color: #353b48;
}

.nJS {
    background: none;
    font-family: ubuntu;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: #00a8ff;
    border: 5px solid #00a8ff;
    padding: 20px 30px;
    width: 200px;
    outline: none;
    border-radius: 25px;
    transition: 0.25s;

}

.nJS:hover {
    width: 280px;
    font-family: ubuntu;
    color: #1ffd0b;
    border-color: #1ffd0b;

}

.textarea {
    background: none;
    font-family: 'Fira Code', monospace;
    display: block;
    margin: 20px auto;
    text-align: center;
    color: #00a8ff;
    border: 5px solid #00a8ff;
    padding: 20px 30px;
    width: 200px;
    outline: none;
    border-radius: 25px;
    transition: 0.35s;
}

.textarea:focus {
    width: 280px;
    font-family: 'Fira Code', monospace;
    color: #1ffd0b;
    border-color: #1ffd0b;

}