body{
    margin: 0;
    padding: 0;
    font-family: ubuntu;
    background:#ffffff;
  }
  .box{
    width: 300px;
    border: #e4e2e2 solid 3px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background:#ebe3e3;
    text-align: center;
  }
  .box h1{
    color: #e14bff;
    text-transform: uppercase;
    font-size: 34px;
    font-family: ubuntu;
  }
  .box input[type = "text"],.box input[type = "url"],.box input[type = "email"],.box input[type ="password"]{
    border:0;
    background: none;
    font-family: ubuntu;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #e14bff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.35s;
  }
  
  .box input[type = "file"] {
    border:0;
    font-family:ubuntu;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: right;
    border: 3px solid #e14bff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.35s;
  }
  
  .box input[type = "text"]:hover,.box input[type = "url"]:hover,.box input[type ="email"]:hover,.box input[type ="password"]:hover{
    width: 280px;
    font-family: ubuntu;
    border-color: #6605ee;
  }
  
  
  .box input[type ="file"]:hover{
    font-family: ubuntu;
    border-color:#6605ee;
  }
  .box input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    font-family: ubuntu;
    text-align: center;
    border: 3px solid #e14bff;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.35s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    font-family: ubuntu;
    text-align: center;
    border: 3px solid #6605ee;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.35s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #6605ee;
    font-family: ubuntu;
  }
  
  .sign-h1 {
    color: #e14bff;
  }
  
  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
  ; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e14bff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #6605ee;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  /* -Theme Switcher Down here- */
  
  .sidenav input[type="checkbox"] {
    -webkit-appearance: none;
     visibility: hidden;
     display: none;
  }
  
  .check {
     position: relative;
     left: 50px;
     right: 50px;
     top: 50px;
     display: block;
     width: 40px;
     height: 20px;
     background: #1d1d1d;
     cursor: pointer;
     border-radius: 20px;
     overflow: hidden;
     transition: ease-in 0.5s;
  }
  
  .sidenav input[type="checkbox"]:checked ~ .check {
      background-color:#fff;
  }
  
  .check:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
  }
  
  .sidenav input[type="checkbox"]:checked ~ .check:before {
    transform: translateX(-50px)
  }
  
  .check:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #1d1d1d;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px)
  }
  
  .sidenav input[type="checkbox"]:checked ~ .check:after {
    transform: translateX(0px)
  }